django
django-multiselectfield
django-oauth-toolkit
django-parler
django-cors-headers
django-oidc-provider>=0.7
djangorestframework>=3.10
pyjwt
django-helusers
django-allauth
django-bootstrap4
psycopg2
--no-binary psycopg2
raven
PyJWT
cryptography
django-npm
django-compressor
django-inline-svg
django-environ
social-auth-core[openidconnect,saml]
social-auth-app-django
requests
jwcrypto
Pillow
django-crequest
django-ipware
geoip2
django-filter
coreapi
python3-saml>=1.8.0
ruamel.yaml
git+https://github.com/City-of-Helsinki/django-translation-checker.git@master
